{{ if ne .chezmoi.os "windows" }}
AppData
AppData/local
AppData/local/nvim
AppData/local/nvim.init.lua
Documents
Documents/WindowsPowerShell
Documents/WindowsPowerShell/*
scoopfile.json
{{ end }}
{{ if ne .chezmoi.os "darwin" }}
dotfiles
dotfiles/iterm2
dotfiles/iterm2/com.googlecode.iterm2.plist
.chezmoiscripts/darwin/**
Brewfile
.config
{{ end }}
