* {
    all: unset;
    // font-family: "JetBrainsMono NF";
    // color: $fg;
}

.bar {
    background: #f3bfcc;
    color: #5a6183;
    padding: 5px 10px;
    border-radius: 9px;
}

.start-button {
    //   SOURCE:https://github.com/gh0stzk/dotfiles/blob/master/config/bspwm/rices/andrea/bar/eww.scss
    background-repeat: no-repeat;
    background-size: 20px;
    min-height: 20px;
    min-width: 20px;
}

.btn {
    background-color: #d340bf;
    padding-left: 5px;
}

.btn:not(:first-child) {
    padding-right: 5px;
}