#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "git"
     "fish" -}}
{{ $casks := list
     "firefox"
     "1password"
     "iterm2"
     "visual-studio-code"
     "nightfall"
     "alt-tab" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
